@font-face {
    font-family: 'Essonnes';
    src: local('Essonnes Display Bold'), local('Essonnes-Display-Bold'),
        url('/fonts/EssonnesDisplay-Bold.woff2') format('woff2'),
        url('/fonts/EssonnesDisplay-Bold.woff') format('woff'),
        url('/fonts/EssonnesDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --clr-bg-primary: #611818;
    --clr-bg-secondary: #ffffff;
    --clr-hover: #8f2323;
    --clr-f-primary: #ffffff;
    --clr-f-secondary: #eeeeee;
    --ff-primary: 'Essonnes';
    --ff-secondary: 'Arial';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  ---------- Background ----------  */
.background {
    min-height: 100vh;
    display: flex;
}

.background__sidebar {
    flex: 35%;
    background-color: var(--clr-bg-primary);
}

.background__wallpaper {
    flex: 65%;
    background-color: var(--clr-bg-primary);
    background-image: url('../img/forrest.jpg');
    background-size: cover;
    background-position: right top;
}

/*  ---------- Heading ----------  */
.heading {
    top: 60%;
    left: 20%;
    position: absolute;
    overflow-y: unset;
    overflow-x: unset;
}

.heading__title {
    font-family: var(--ff-primary);
    color: var(--clr-f-primary);
    font-size: clamp(5rem, 17vw, 20rem);
}

.heading__title {
    font-family: var(--ff-primarys);
}

.heading__description {
    position: absolute;
    top: 82%;

    margin-left: 9%;
}

.heading__description-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--clr-f-primary);
}

.heading__description-button__image {
    margin-right: 20px;
}

.heading__description-button__text {
    font-size: 25px;
}

.heading__description:hover {
    filter: drop-shadow(3px 0px 0px #8f2323) drop-shadow(0px 3px 0px #8f2323)
        drop-shadow(0px -3px 0px #8f2323) drop-shadow(-3px 0px 0px #8f2323);
}

/*  ---------- Card ----------  */
.card {
    position: absolute;
    bottom: calc(100vh - 90%);
    left: calc(100vw - 75%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px;
    max-width: 580px;
    max-height: 702px;

    width: 90%;

    background-color: var(--clr-bg-secondary);
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.3);
}

.card__heading {
    display: flex;
    flex-direction: column;
}

.card__heading-title {
    /* font-size: 66px; */
    font-size: clamp(15px, 10vw, 66px);
    color: var(--clr-bg-primary);
    letter-spacing: 1.65px;
}

.card__heading-underline {
    margin: 20px 0;
    background-image: linear-gradient(90deg, #611818 0%, #ffffff 100%);
    width: 65%;
    height: 1.7px;
}

.card__content {
    font-family: var(--ff-secondary);
    font-size: 15px;
    color: #505050;
    letter-spacing: 0.35px;
    line-height: 30px;
}

.card__button {
    margin: 20px 0;
    width: 235px;
    height: 55px;
    background-image: linear-gradient(90deg, #611818 0%, #a36754 100%);
    border: 1px solid #979797;
    font-family: ArialMT;
    font-size: 18px;
    color: var(--clr-f-primary);
    letter-spacing: 1.69px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.card__button:hover {
    background-image: linear-gradient(90deg, #8f2323 0%, #a36754 100%);
}

.card__close {
    top: 3%;
    right: 5%;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    color: var(--clr-bg-primary);
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: inline-block;
}

.card__close:hover {
    color: var(--clr-hover);
}

/*  ---------- Social media ----------  */
.social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.social-media__card {
    margin: 5px;
    filter: drop-shadow(0px 0px 5px #000000);
}

.social-media__card:hover {
    filter: drop-shadow(3px 0px 0px #8f2323) drop-shadow(0px 3px 0px #8f2323)
        drop-shadow(0px -3px 0px #8f2323) drop-shadow(-3px 0px 0px #8f2323);
}
