* {
    overflow-y: unset;
    overflow-x: unset;
}
/*  ---------- Background ----------  */
.background {
    display: flex;
    flex-direction: column;
}

.background__sidebar {
    flex: 0 0 10em;
}

/*  ---------- Heading ----------  */
.heading {
    top: 50%;
}

/*  ---------- Card ----------  */
.card {
    padding: 30px;
    width: calc(100vw - 50%);
    overflow-y: scroll;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card__button {
    width: 100%;
}

/*  ---------- Social media ----------  */
.social-media {
    display: flex;
    flex-direction: row;

    position: absolute;
    left: calc(100vw - 65%);
}
